name: Machine Learning CI Pipeline

on:
  push:
    branches: [ main ]

jobs:
  continuous-integration:
    runs-on: ubuntu-latest
    steps:
      - name: Stage 1 - Checkout Code
        uses: actions/checkout@v4

      - name: Stage 2 - Setup Python 3.12.7
        uses: actions/setup-python@v5
        with:
          python-version: '3.12.7'

      - name: Stage 3 - Install Dependencies
        run: |
          pip install mlflow==2.19.0 pandas scikit-learn

      # PERBAIKAN DI SINI: Menggunakan --env-manager local
      - name: Stage 4 - Run MLflow Training
        run: |
          cd MLProject
          mlflow run . --env-manager local

      - name: Stage 5 - Save Artifacts to GitHub
        uses: actions/upload-artifact@v4
        with:
          name: trained-model-py3127
          path: MLProject/mlruns/